rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      // Permitir que un usuario autenticado lea y escriba reseñas
      allow create: if request.auth != null;
      allow read: if true;
    }

    // Reglas generales para usuarios autenticados
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Reglas específicas para usuarios
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
      // Reglas para compras
    match /purchases/{purchaseId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.buyerId;
    }

    // Reglas para juegos
    match /games/{gameId} {
      allow read: if true;  // Permitir lectura para cualquier persona
      allow write: if request.auth != null && request.auth.token.role == 'administrador';
    }

    // Reglas para ventas
    match /sales/{saleId} {
      allow read, write: if request.auth != null && request.auth.token.role == 'administrador';
    }
  }
}
