.carousel-container {
  display: flex;
  margin-left: 20px;
  margin-right: 49px;
justify-content: center;
  align-items: center;
 margin-bottom: 20px;
  margin-top: 20px;
}

.carousel img{
  position: relative;
  width: 74%;
  max-width: 1200px;
  background-color: #33333300;
  padding: 20px;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.carousel-thumbnails {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.thumbnail-item {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.thumbnail-item .progress-bg {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
  transition: background-color 0.3s, border 0.3s;
  position: relative;
  overflow: hidden;
}

.thumbnail-item img {
  width: 85px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  z-index: 2;
}

.thumbnail-item span {
  color: white;
  z-index: 2;
}

.thumbnail-item.active .progress-bg::before,
.thumbnail-item:hover .progress-bg::before {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

.thumbnail-item .progress-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(255, 0, 0, 0);
  transition: width 5s linear;
  z-index: 1;
}

.thumbnail-item.active .progress-bg::before {
  width: 100%;
}

.carousel .legend {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
}
