/* Variables */
:root {
  --isDark: #0d3d5b00;
}

/* Modo Oscuro (Único Modo) */
.leftMenu {
  width: 20vw; /* Ajusta el ancho del menú lateral */
  height: 100vh; /* Asegúrate de que el menú ocupe toda la altura de la ventana */
  background-color: var(--isDark);
  position: fixed; /* Usa fixed para que el menú permanezca en su lugar */
  top: 0;
  left: 0;
  z-index: 100; /* Asegúrate de que el menú esté por encima de otros elementos */
}

/* Estilos para el logo */
.leftMenu .logo {
  position: absolute;
  top: 10px;
  left: 42px;
  background-color: transparent;
}

/* Estilos para el botón de cierre */
.leftMenu .closeButton {
  display: none;
  color: rgba(216, 36, 36, 0);
}

/* Estilos para los íconos */
.leftMenu .icons {
  position: absolute;
  top: 115px;
  left: 42px;
  display: flex;
  flex-direction: column;
  background-color: var(--isDark);
}

.leftMenu .icons div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--isDark);
  padding: 10px;
  margin-top: 10px;
}

.leftMenu .icons div:hover, .leftMenu .icons div.active {
  width: 15vw;
  padding: 10px;
  border-radius: 7px;
  color: white;
  background-color: #424242;
}

.leftMenu .icons div:hover img, .leftMenu .icons div.active img {
  width: 30px;
  background-color: transparent;
  filter: invert(100%);
}

.leftMenu .icons div:hover label, .leftMenu .icons div.active label {
  color: white;
  background-color: transparent;
}

.leftMenu .icons div img {
  width: 30px;
  background-color: transparent;
  filter: invert(100%);
}

.leftMenu .icons div label {
  background-color: transparent;
  width: 100%;
  font-size: large;
  color: rgb(155, 153, 153);
  margin-left: 10px;
  text-align: left;
}

.leftMenu .icons div span {
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  width: 100%;
}

/* Responsive Design */

/* Bloqueo de Vistas en Paisaje */
@media only screen and (min-width: 321px) and (max-width: 991px) and (orientation: landscape) {
  .leftMenu {
      display: none;
  }
}

/* Móviles */
@media only screen and (max-width: 320px) {
  /* No se definen estilos */
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .leftMenu {
      transition: width 0.5s ease-in-out;
      width: 0;
      left: 0;
      border-right: 0.5px solid rgb(114, 113, 113);
      z-index: 100;
  }

  .leftMenu .container {
      opacity: 0;
  }

  .leftMenu .icons {
      display: none;
  }

  .leftMenu.enable {
      display: block;
      width: 100vw;
      transition: width 0.5s ease-in-out forwards;
      border-right: 0.5px solid rgb(114, 113, 113);
      z-index: 100;
  }

  .leftMenu.enable .container {
      opacity: 1;
      transition: opacity 1s ease-in-out;
      transition-delay: 0.2s;
  }

  .leftMenu.enable .closeButton {
      display: block;
      position: absolute;
      top: 32px;
      left: 20px;
      border: 0;
      font-size: 25px;
      opacity: 0.7;
      background-color: transparent;
  }

  .leftMenu.enable .logo {
      position: absolute;
      top: 5px;
      left: 70vw;
  }

  .leftMenu.enable .logo img {
      width: 80px;
  }

  .leftMenu.enable .icons {
      display: block;
      top: 90px;
      opacity: 0.7;
  }

  .leftMenu.enable .icons div {
      &:hover {
          width: 80vw;
          padding: 10px;
      }
  }

  .leftMenu.enable .icons div:hover span {
      color: white;
  }

  .leftMenu.enable .icons div img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
  }

  .leftMenu.enable .icons div label {
      font-size: 20px;
      margin-left: 20px;
  }

  .leftMenu.enable .icons div span {
      color: red;
      font-size: 18px;
      font-weight: 600;
      margin-left: 40px;
      width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .leftMenu {
      width: 23vw;
  }

  .leftMenu .icons {
      left: 10px;
  }

  .leftMenu .icons div:hover {
      width: 20vw;
  }
}

/* Laptop */
@media only screen and (min-width: 992px) {
  /* No se definen estilos */
}
