.promotions {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.promotions h2 {
  margin-bottom: 20px;
}

.promotion {
  padding: 20px;
}

.promotion img {
  width: 40%;
  position: relative;
  margin-left: 30%;
  justify-content: center;
  height: auto;
  margin-bottom: 15px;
}

.promotion h3 {
  margin-top: 15px;
}

.promotion p {
  font-size: 16px;
}
