.sales-history {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .sale {
    background-color: #282828;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sale p {
    margin: 0;
    color: #ddd;
  }
  