.categories {
  padding: 20px;
  background-color: #1c1c1c;
  color: white;
  margin: 20px 0;
}

.category-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.category-card {
  flex: 1;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card h3 {
  font-size: 18px;
  color: white;
}

.category-card:hover {
  transform: scale(1.05);
}
