.fondo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que esté centrado verticalmente */
  background-color: #121212;
}

.fondo {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  max-width: 500px; /* Aumentar tamaño del formulario */
}

.contenedor-form h2 {
  text-align: center;
  margin-bottom: 30px; /* Aumentar el espaciado */
  font-size: 32px;
  color: #ffffff;
}

.contenedor-input input {
  padding: 15px;
  padding-left: 45px; /* Mayor padding en los inputs */
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
  transition: border-color 0.3s ease;
}

.contenedor-input input:focus {
  border-color: #499cd3; /* Cambio de color en el borde cuando está enfocado */
  box-shadow: 0 0 10px rgba(73, 156, 211, 0.5); /* Sombra suave */
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: #2980b9;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #499cd3;
  transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.registro-link a:hover {
  text-decoration: underline;
}
