.fondo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.fondo {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  max-width: 500px;
}

.contenedor-form.register {
  width: 100%;
}

.contenedor-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  color: #ffffff;
}

.contenedor-input {
  margin-bottom: 15px;
  position: relative;
}

.contenedor-input input {
  width: calc(100% - 40px);
  padding: 15px;
  padding-left: 40px;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
}

.contenedor-input .icono {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #999;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: #2980b9;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #499cd3;
}
