/* Estilos para el contenedor del menú superior en modo oscuro */
.topMenu-container {
  width: 100%;
  height: 100px;
  background-color: #0d3d5b; /* Color de fondo oscuro */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;

}

.topMenu-container .cart-icon {
  width: 30px; /* Ajusta el tamaño del ícono del carrito */
  cursor: pointer;
}

.topMenu-container .title {
  font-size: 24px;
  text-transform: capitalize;
  color: #fff; /* Color del texto en modo oscuro */
  position: relative;
  left: 22%;
}

.topMenu-container .image-container {
  display: flex;
  align-items: center;
  display: flex;
  position: relative;
  left: 83%;
}

.topMenu-container .image-container .icons {
  width: 20px;
  margin-left: 15px;
  filter: invert(100%); /* Invertir los iconos para el modo oscuro */
}

.topMenu-container .profile-pic {
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

.topMenu-container .profileInfo {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 84%;
}


.auth-button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #0056b3;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profileInfo__name {
  font-size: 16px;
  font-weight: bold;
}

.profileInfo__level {
  font-size: 14px;
  color: #666;
}
.topMenu-container .profileInfo__name {
  font-weight: 600;
  color: #fff; /* Color del nombre en modo oscuro */
}

.topMenu-container .profileInfo__level {
  font-weight: 500;
  color: rgb(188, 186, 186); /* Color del nivel en modo oscuro */
}

/* Responsivo para móviles */
@media only screen and (max-width: 320px) {
  /* Estilos específicos para móviles pequeños si es necesario */
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .topMenu-container {
    height: 70px;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
    z-index: 3;
  }

  .topMenu-container .cart-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .topMenu-container .title {
    font-size: 20px;
    font-weight: 500;
    color: #fff; /* Color del texto en móvil en modo oscuro */
    position: relative;
    left: 15vw;
    top: 20px;
  }

  .topMenu-container .image-container {
    width: 100%;
    top: 15px;
  }

  .topMenu-container .image-container .icons {
    width: 16px;
  }

  .topMenu-container .profile-pic {
    right: 90px;
  }

  .topMenu-container .profileInfo {
    right: 10px;
    top: 25px;
  }
}

/* Responsivo para tabletas */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .topMenu-container .title {
    left: 24vw;
  }
}

/* Responsivo para laptops */
@media only screen and (min-width: 992px) {
  /* Estilos específicos para laptops si es necesario */
}
