.topMenu-container {
  width: 100%;
  height: 100px;
  background-color: #121212; /* Color de fondo oscuro */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: fixed; /* Cambiado a fixed para que permanezca en su lugar */
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuir elementos entre los bordes */
  padding-right: 20px; /* Asegurar que los elementos de la derecha no estén pegados al borde */
  z-index: 10; /* Asegurar que esté siempre en el frente */
}

.topMenu-container .title {
  font-size: 24px;
  text-transform: capitalize;
  color: #fff; /* Color del texto en modo oscuro */
  position: relative;
  margin-left: -24%;
}

.topMenu-container .image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topMenu-container .cart-icon {
  width: 40px; /* Ajusta el tamaño del ícono del carrito */
  cursor: pointer;
}

.topMenu-container .profile-icon {
  width: 50px; /* Ajusta el tamaño del ícono del perfil */
  cursor: pointer;
  filter: invert(100%);
}

.auth-button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #2980b9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px; /* Separación entre el botón de autenticación y los íconos */
}

.auth-button:hover {
  background-color: #206c9e;
}

.espacio {
  width: 20px; /* Espacio entre íconos */
}
.espacio1 {
  height: 34px;
  width: 4px;
  margin-right: 20px;
  margin-left: 21px;
  border-left: solid 1px #7a6d6d;

}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Responsivo para móviles */
@media only screen and (max-width: 320px) {
  /* Estilos específicos para móviles pequeños si es necesario */
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .topMenu-container {
    height: 70px;
  }

  .topMenu-container .cart-icon {
    width: 30px; /* Reducir el tamaño del ícono en pantallas pequeñas */
  }

  .topMenu-container .title {
    font-size: 20px;
    font-weight: 500;
  }

  .auth-button {
    font-size: 12px;
  }
}

/* Responsivo para tabletas */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .topMenu-container .title {
    font-size: 22px;
  }
}

/* Responsivo para laptops */
@media only screen and (min-width: 992px) {
  /* Estilos específicos para laptops si es necesario */
}
