body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  padding: 20px;
}


main {
  max-width: 1497px;
  justify-content: center;
  align-items: center;
  margin: 0% 2% 1px 7.5%;
  padding: 20px;
}


.carousel {
  margin-bottom: 20px;
}

.categories {
  margin-bottom: 20px;
}

.categories-container {
  display: flex;
  gap: 20px;
}

.category {
  flex: 1;
  text-align: center;
}

.category img {
  width: 100%;
  border-radius: 10px;
}

.stats-tables {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.table {
  flex: 1;
}

.table .table-row.header {
  font-weight: bold;
}

.table .table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.table .table-row span {
  flex: 1;
  text-align: left;
}
