.sales-page {
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
  max-width: 700px;
  margin: 0 auto;
}

.sales-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los campos en la misma fila */
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1 1 calc(50% - 20px); /* Cada grupo ocupa el 50% del ancho menos el espacio entre ellos */
}

.form-row.large .form-group {
  flex: 1 1 100%; /* Ocupa todo el ancho en una fila específica */
}

input
textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: #e0e0e0;
  width: 100%;
}

textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: #e0e0e0;


}

.error {
  color: #ff6666;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
  margin-top: 0px;
}

button:hover {
  background-color: #626263;
}

.existing-games {
  margin-top: 40px;
}

.agregarlicencias {
  margin-left: auto;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.agregarlicencias:hover {
  background-color: #0056b3;
}

.ver-mas-boton {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.ver-mas-boton:hover {
  background-color: #555;
}
